## LetsUpgarde

### DAY06 Assignment

##### Avinash Vemula - vemulaavinash666@gmail.com - 8096425870

__Question 1 :__
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [4]:
def name(x):
    return x.split('@')[1].split('.')[0]

name(input())

avinash@letsUpgrade.com

'letsUpgrade'

__Question 2 :__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [12]:
words = input("Enter the words: ")

words = [i for i in words.split(',')]
words.sort()
print((',').join(words))

Enter the words: without,hello,bag,world
bag,hello,without,world

__Question 3:__
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [15]:
#Creating a Set:

set1 = {"apple", "banana", "cherry","apple","guava","watermelon"}
print(set1)

{'guava', 'cherry', 'watermelon', 'banana', 'apple'}

In [16]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'banana', 'apple'}

In [18]:
thisset = {"Aviansh", "fruits", "google"}

for x in thisset:#Accessing itemsm form the set
    print(x)

Aviansh
google
fruits

In [21]:
thisset.add("orange")

print(thisset)

{'orange', 'Aviansh', 'google', 'fruits'}

In [22]:
thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'Aviansh', 'google', 'mango', 'grapes', 'fruits'}

In [23]:
print(len(thisset))

6

In [24]:
thisset.remove("orange")

print(thisset)

{'Aviansh', 'google', 'mango', 'grapes', 'fruits'}

In [25]:
#Remove the last item by using the pop() method:

x = thisset.pop()

print(x)

Aviansh

In [32]:
a = {"Aviansh", "fruits", "google"}
del a
print(a)

NameError: name 'a' is not defined

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [48]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 

lst = [1, 2, 4, 6, 3, 7, 8] 
print(find_missing(lst))

[5]

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [52]:
inp = input().split()
inp_int = [int(i) for i in inp ]
print(inp_int)
final = []
for x in inp_int:
    if x not in final:
        final.append(x)
print(final)

1 2 3 4 4 5 5 6
[1, 2, 3, 4, 4, 5, 5, 6]
[1, 2, 3, 4, 5, 6]